.directory-photo-img {
	width: 150px;
	height: 150px;
	border: none;
}

.section-content-tools-wrapper {
	padding-bottom: 20px;
}

.contact-photo-wrapper {
	display: table-cell;
	table-layout: fixed;
	vertical-align: top;
}

.contact-info {
	display: table-cell;
	table-layout: fixed;
	vertical-align: top;
	padding-left: 10px;
}

.contact-info-label {
	font-weight: bold;
}

.section-subtitle-wrapper .btn-xs {
	margin-top: -2px;
}

.directory-collapse {
	overflow-y: auto;
	max-height: 400px;
}
