
A new user registration request was received at {{$sitename}} which requires 
your approval. 

The login details are as follows:

Site Location:	{{$siteurl}}
Login Name:	{{$email}}
IP Address: {{$details}}

Reason:
{{$reason}}

To approve this request please visit the following link:


{{$siteurl}}/regmod/allow/{{$hash}} 


To deny the request and remove the account, please visit:


{{$siteurl}}/regmod/deny/{{$hash}}


Thank you.

